@model AthonEventos.Models.Evento

@{
    ViewBag.Title = "Evento e Palestras";
}

<div class="jumbotron" style=" background-image: linear-gradient(#e195f4, #f7c050);">
    <div class="masthead">
        <h1>@ViewBag.Title</h1>

        @if (Model.Imagem != null)
        {
            var base64 = Convert.ToBase64String(Model.Imagem);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img src='@imgSrc' style="max-width:250px; max-height:250px;" />
        }

    </div>
</div>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoDescricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoDescricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoDtInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoDtInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoDtFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoDtFim)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Palestra</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Palestrante</th>
                </tr>
                @foreach (var item in Model.Palestras)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PalestraName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PalestraDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PalestraDt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Palestrante.Usuario.FullName)
                        </td>
                        <td>
                            @Html.ActionLink("Cadastrar", "EscolherPalestra", new { id = item.PalestraID }, new { @class = "btn btn-sm btn-primary" })
                        </td>

                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "EncontreEvento")
</p>
