@model IEnumerable<AthonEventos.Models.Evento>

@{
    ViewBag.Title = "ChamarEvento";
}

<div class="jumbotron" style=" background-image: linear-gradient(#0026ff, #ff00dc);">
    <div class="masthead">
        <h1>Eventos</h1>        
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoDtInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoDtFim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoDtInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoDtFim)
        </td>
        <td>            
            @Html.ActionLink("Palestras", "ChamarPalestra", new { id = item.EventoID }, new {@class="btn btn-primary btn-xl rounded-pill mt-5"})          
        </td>
    </tr>
}

</table>
