@model IEnumerable<AthonEventos.Models.Evento>

@{
    ViewBag.Title = "Eventos";
}

<div class="jumbotron" style=" background-image: linear-gradient(#e195f4, #f7c050);">
    <div class="masthead">
        <h1>@ViewBag.Title</h1>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoDtInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoDtFim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoDtInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoDtFim)
        </td>
        <td>            
            @Html.ActionLink("Selecione", "ChamarPalestras", new { id = item.EventoID }, new {@class = "btn btn-sm btn-primary" })          
        </td>
    </tr>
}

</table>
