@model AthonEventos.Models.Palestrante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Palestrante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PalestranteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalestranteDescrição)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalestranteDescrição)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PalestranteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
