@model AthonEventos.Models.Palestrante

@{
    ViewBag.Title = "Palestrante";
}
<div class="jumbotron" style=" background-image: linear-gradient(#e195f4, #f7c050);">
    <div class="masthead">
        <h1>@ViewBag.Title</h1>
        <h2> @Html.DisplayFor(model => model.Usuario.FullName)</h2>

        @*@if (Model.Imagem != null)
            {
                var base64 = Convert.ToBase64String(Model.Imagem);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src='@imgSrc' style="max-width:250px; max-height:250px;" />
            }
            <h2> @Html.DisplayFor(model => model.Usuario.FullName)</h2>*@

    </div>
</div>
<div class="row col-md-12">

    <div class="thumbnail col-md-4">
        <div class="row center-block">
            <h2> @Html.DisplayFor(model => model.Usuario.FullName)</h2>
            @if (Model.Imagem != null)
            {
                var base64 = Convert.ToBase64String(Model.Imagem);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src='@imgSrc' style="max-width:350px; max-height:350px;" />
            }
        </div>
        <div class="caption text-justify">
            <h4>@Html.DisplayName("Perfil")</h4>
            <p>@Html.DisplayFor(model => model.PalestranteDescrição).</p>
        </div>
    </div>
</div>




@*<div>

        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayName("Perfil")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PalestranteDescrição)
            </dd>

        </dl>
    </div>*@
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PalestranteID }) |*@
    @Html.ActionLink("Voltar", "Index")
</p>
