@model AthonEventos.Models.Evento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoDescricao)a
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoDescricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoDtInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoDtInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoDtFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoDtFim)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
