@model IEnumerable<AthonEventos.Models.Palestra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evento.EventoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PalestranteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PalestraName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PalestraTema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PalestraDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PalestraUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PalestraDt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.EventoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Palestrante.Usuario.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalestraName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalestraTema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalestraDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalestraUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalestraDt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PalestraID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PalestraID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PalestraID })
            </td>
        </tr>
    }

</table>
