@model AthonEventos.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioSobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioSobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEhAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEhAluno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsuarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
